# Variable
Variable berfungsi untuk menyimpan value. Tujuan dari menyimpan value tersebut adalah: 
1. **Jika ingin melakukan perubahan cukup dilakukan di satu tempat (tidak perlu mencari2 di banyak tempat)**
2. **Value yang digunakan konsisten di setiap bagian code**
3. **Value yang digunakan bisa diupdate tergantung terhadap logic yang ingin diterapkan**

In [2]:
x = 123
y = "123"
print(x)
print(type(x))
print(y)
print(type(y))

print(x+1)
print(y+1)

123
<class 'int'>
123
<class 'str'>
124

TypeError: can only concatenate str (not "int") to str

# Aturan Penulisan Nama Variable
Penulisan nama variable yang valid harus mengikuti beberapa aturan berikut ini:
1. **Nama variable harus dimulai dengan huruf atau underscore**
2. **Nama variable tidak bisa dimulai dengan angka**
3. **Nama variable hanya bisa mengandung alphanumeric dan underscore (A-z, 0-9, and _ )**
4. **Nama variable itu case-sensitive (age, Age dan AGE adalah tiga variable yang berbeda)**
5. **Nama variable bukan keyword yang sudah dibooking oleh python (https://www.geeksforgeeks.org/python-keywords).**

In [ ]:
myvar = "test1"
my_var = "test2"
_my_var = "test3"
myVar = "test4"
MYVAR = "test5"
myvar2 = "test6"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

In [ ]:
#2myvar = "error1"
#my-var = "erro2"
#my var = "error3"
my@var = "error4"

# Tipe Data
Setiap variable bisa menyimpan satu tipe data. Tiap tipe data tersebut akan memiliki perilaku atau metode yang berbeda-beda. Berikut adalah tipe data yang umum digunakan dalam pemrograman di python:

1. Text Type     : **str**
2. Numeric Types : **int, float, complex**
3. Sequence Types: **list, tuple, range**
4. Mapping Type  : **dict**
5. Set Types     : **set**
6. Boolean Type  : **bool**
7. None Type     : **NoneType**

In [18]:
#string
x = "Hello World"

#int
x = 20 	

#float	
x = 20.5 

#complex
x = 1+1j 	

#list
a= "apple"
x = [a, "banana", "cherry"]	
x[1] = 'orange'
print(x)
#tuple
x = ("apple", "banana", "cherry")		

#range
x = range(6)	

#dict
x = {"name" : "John", "age" : 36, 'ppv_sni':3}
y = [x["name"],x["ppv_sni"]]
print(y)

#set
x = {"apple", "banana", "cherry"}	

#boolean
x = True	

#NoneType
x = None

['apple', 'orange', 'cherry']
['John', 3]

# Merubah Tipe data
mengubah tipe data variable kita bisa memasukannya kedalam fungsi casting berikut:
1. **int()**: mengubah tipe data ke integer.
2. **float()**: mengubah tipe data ke float.
3. **complex()**: mengubah tipe data ke complex.
4. **bool()**: mengubah tipe data ke boolean.
5. **str()**: mengubah tipe data ke string.

In [ ]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

# Tipe Data Number
Tipe data number bisa dilakukan berbagai operasi matematika
1. **penjumlahan (\+)**	
2. **pengurangan (\-)**	
3. **perkalian (\*)**	
4. **pembagian (\/)**
5. **modulus (\%)**
6. **pangkat (\**)**
7. **pembagian floor (//)**

In [ ]:
a = 1
b = 2.5
print(a + b)

# Tipe Data String
string pada dasarnya adalah array sehingga kita bisa mengaksesnya menggunakan indexing

In [21]:
x = "Hello, World!"
print(x[0])
print(x[2])
print(x[2:5])
print(x[:5])
print(x[2:])
print(x[:-2])

H
l
llo
Hello
llo, World!
Hello, Worl

TypeError: 'str' object does not support item assignment

<h3> String method dapat digunakan untuk memanipulasi string atau fungsionalitas tertentu </h3>

daftar string method yang bisa digunakan ( https://www.geeksforgeeks.org/python-string-methods/ )

In [27]:
x = "Hello, World!"
print(x)
print(x.lower())
print(x.lower().islower())
print(x.split())
print(x.split('o'))
print(x.find('W'))
print(x.find('w'))
print(x.find('Wo'))
print(x.find('Wa'))

Hello, World!
hello, world!
True
['Hello,', 'World!']
['Hell', ', W', 'rld!']
7
-1
7
-1

<h3> Operasi String lainnya </h3>

In [ ]:
# menggabungkan string
a = "Hello"
b = "World"
c = a + " " + b
print(c)

# perkalian dengan number
print(c*2)

# menggunakan f string
a = "Hello"
b = "World"
c = 123
d = f"{a} {b} {c*2}"
print(d)

# escape character (misal jika ingin menggunakan karakter "" dalam string)
x = 'asd"zxc"qwe'
print(x)

y = "Hello \"World\" !"
print(y)

# Tipe Data Boolean
Tipe data ini merepresentasikan nilai True dan False, berguna dalam percabangan

In [29]:
print(True)
print(1 > 2)
print(1 == 2)
print(1 < 2)
print('cast bool 1', bool(2))
print('cast bool 2', bool(0))
print('cast bool 3', bool('a'))
print('cast bool 4', bool(''))

a = 1
b = 2
if b > a:
  print(f"{b} lebih besar dari {a}")
else:
  print(f"{b} lebih kecil dari {a}")

True
False
False
True
cast bool 1 True
cast bool 2 False
cast bool 3 True
cast bool 4 False
2 lebih besar dari 1

<h3> Truthy dan Falsy dalam python</h3>

berikut adalah daftar hal yg Falsy dalam python **False, None, 0, "", (), [], {}**

In [ ]:
def truthy_or_falsy(x):
    if (x):
        print(f"{x} is Truthy")
    else:
        print(f"{x} is Falsy")

truthy_or_falsy(1)
truthy_or_falsy('asd')
truthy_or_falsy(0)
truthy_or_falsy("")
truthy_or_falsy(None)
truthy_or_falsy([])
truthy_or_falsy([0])

# Tipe Data List
Tipe data list digunakan untuk menyimpan banyak data dalam satu variable. **List dapat diubah, bisa menyimpan value yg duplikat**, dan karena merupakan array dapat diakses menggunakan **indexing**.

In [30]:
a = ["abc", 34, True, [1,2,3], 40, "male"]
print(a[0:2])
print(a)

['abc', 34]
['abc', 34, True, [1, 2, 3], 40, 'male']

<h3>NOTE: Jika mencoba mengakses atau menset data pada index yang belum terdefinisi akan terjadi error</h3>

In [ ]:
a = ["abc", 34, True, 40, "male"]
print(a[10])
a[10] = 10

In [31]:
example_list = ["data1", "data2", "data3"]
for x in example_list:
  print(x)
    
for i in range(len(example_list)):
  print(f"metode 2 = {example_list[i]}")

data1
data2
data3
metode 2 = data1
metode 2 = data2
metode 2 = data3

<h3>List method dapat digunakan untuk memanipulasi list atau fungsionalitas tertentu</h3>

daftar list method yang bisa digunakan ( https://www.geeksforgeeks.org/list-methods-python/ )

In [32]:
a = [1,2,3]
print(a)
print(a.pop())
print(a)
print(a.append(4))
print(a)
print(a.append([5,6]))
print(a)
print(a.extend([7,8]))
print(a)
print(a.index(7))

[1, 2, 3]
3
[1, 2]
None
[1, 2, 4]
None
[1, 2, 4, [5, 6]]
None
[1, 2, 4, [5, 6], 7, 8]
4

# Tipe Data Tuple
Tipe data Tuple mirip dengan tipe data List, hanya nilai variable dalam **Tuple tidak dapat diubah.**

In [ ]:
a = ("apple", "banana", "cherry")
print(a[1])

In [ ]:
a[1] = "bakso"

In [ ]:
b = list(a)
b[1] = "bakso"
print(b)
print(tuple(b))

<h3>Tuple method digunakan untuk mendapatkan atribut dari tuple</h3>

hanya ada 2 method dalam tuple yaitu:
1. **count()** untuk menghitung frekuensi kehadiran input parameter dalam tuple
2. **index()** posisi index kehadiran pertama dari input parameter dalam tuple

In [41]:
a = (1,2,3,3,3,4)
print(f"value count = {a.count(2)}")
print(f"value index = {a.index(2)}")

a = "hello"
b = "world"
c = f"{a}-{b}"
print(c)

value count = 1
value index = 1
hello-world

# Tipe Data Set
Tipe data Set mirip dengan tipe data List, hanya nilai variable dalam **Set tidak dapat diakses dengan index dan unique value.**

In [34]:
a = {"apple", "banana", "cherry", "banana"}
print(a)
b = ["apple", "banana", "cherry", "banana"]
print(b)

{'cherry', 'apple', 'banana'}
['apple', 'banana', 'cherry', 'banana']

In [ ]:
a[1]

In [ ]:
a = list(a)
print(a)
print(a[1])

# Tipe Data Dictionary
Dictionary digunakan untuk menyimpan data dalam format **pasangan key: value**. Berbeda dengan list yang hanya bisa diakses dengan indeks angka, dictionary bisa diakses dengan index string

In [44]:
a = {
  "nama": "Ardi",
  "umur": 28,
  1: 1996
}

print(a)
print(a['nama'])
print(a[1])

# set value yang sudah ada
a['umur'] = 10
print(a)

# bisa menambahkan key value baru
a['new_key'] = "new value"
print(a)

# mendapatkan key
print(list(a.keys()))

rumah = [
    {"nama":"aan", "lat":1,"lon":2,"tipe_rumah":"beton"},
    {"nama":"aan", "lat":3,"lon":4,"tipe_rumah":"kayu"}
]
print(rumah[0])

{'nama': 'Ardi', 'umur': 28, 1: 1996}
Ardi
1996
{'nama': 'Ardi', 'umur': 10, 1: 1996}
{'nama': 'Ardi', 'umur': 10, 1: 1996, 'new_key': 'new value'}
['nama', 'umur', 1, 'new_key']
{'nama': 'aan', 'lat': 1, 'lon': 2, 'tipe_rumah': 'beton'}

<h3>NOTE: Jika mencoba mengakses key yang tidak ada pada dictionary akan error bisa gunakan keyword "in"</h3>

In [46]:
a = {
  "nama": "Ardi",
  "umur": 28,
  1: 1996
}

# print(a['asd'])
print("nama" in a)
print("asd" in a)

KeyError: 'asd'

In [47]:
a = {
  "nama": "Ardi",
  "umur": 28,
  1: 1996
}

# akses semua key
for x in a:
  print(x)

# akses semua value
for x in a:
  print(a[x])

nama
umur
1
Ardi
28
1996

<h3> Nested Dictionary (dictionary dapat menyimpan dictionary lain ataupun list)</h3>

In [ ]:
data = {
  "data1" : {
    "name" : "Emil",
    "pet" : ["dog","cat"]
  },
  "data2" : {
    "name" : "Tobias",
    "pet" : []
  },
  "data3" : {
    "name" : "Linus",
    "pet" : ["horse"]
  }
}

print(data['data2']['name'])
print(data['data1']['pet'][0])

<h3>List of Dictionary (List dapat menampung tipe dictionary)</h3>

In [ ]:
data = [
    {
        "name" : "Emil",
        "pet" : ["dog","cat"]
    },
    {
        "name" : "Tobias",
        "pet" : []
    },
    {
        "name" : "Linus",
        "pet" : ["horse"]
    }
]
print(data[1]['name'])
print(data[0]['pet'][0])

# Python Operator
Operator digunakan untuk melakukan operasi terhadap variable ataupun nilai tertentu. Tipe operator dalam python:
1. **Operator aritmatika**
2. **Operator perbandingan**
3. **Operator logical**
4. **Operator identitas**
5. **Operator member**

<h3>Operator Perbandingan</h3>

Operator perbandingan digunakan untuk **membandingkan 2 nilai**. Tipe operator perbandingan:
1. Equal (**x == y**)	
2. Not equal	(**x != y**)	
3. Greater than	(**x > y**)	
4. Less than	(**x < y**)	
5. Greater than or equal to	(**x >= y**)	
6. Less than or equal to (**x <= y**)

In [48]:
x = 3
y = 3

# x = 'a'
# y = 'b'

# x = 1
# y = True

# Equal (==)
print(f"equal = {x == y}")

# Not equal (!=)
print(f"not equal = {x != y}")

# Greater than (>)
print(f"greater than = {x > y}")

# Less than (<)
print(f"less than = {x < y}")

# Greater than or equal to (>=)
print(f"greater than or equal = {x >= y}")

# Less than or equal to (<=)
print(f"less than or equal to {x <= y}")

equal = True
not equal = False
greater than = False
less than = False
greater than or equal = True
less than or equal to True

<h3>Operator Logical</h3>

Operator logical digunakan untuk menggabungkan operasi conditional (boolean), menggunakan **logika matematika**:
1. and (**x < 5 and  x < 10**)	
2. or	(**x < 5 or  x < 10**)	
3. not	(**not (x < 5)**)

In [12]:
boolTrue = True
boolFalse = False
print("AND")
print(f"{boolTrue} and {boolTrue} = {boolTrue and boolTrue}")
print(f"{boolTrue} and {boolFalse} = {boolTrue and boolFalse}")
print(f"{boolFalse} and {boolFalse} = {boolFalse and boolFalse}")
print("##################################")
print("OR")
print(f"{boolTrue} or {boolTrue} = {boolTrue or boolTrue}")
print(f"{boolTrue} or {boolFalse} = {boolTrue or boolFalse}")
print(f"{boolFalse} or {boolFalse} = {boolFalse or boolFalse}")
print("##################################")
print("NOT")
print(f"not {boolTrue} = {not(boolTrue)}")
print(f"not {boolFalse} = {not(boolFalse)}")

AND
True and True = True
True and False = False
False and False = False
##################################
OR
True or True = True
True or False = True
False or False = False
##################################
NOT
not True = False
not False = True

<h3>Operator Identitas</h3>

Operator identitas digunakan untuk membandingkan objek, apakah kedua object **menempati lokasi memori yang sama**.
1. is (**x is y**)	
2. is not	(**x is not y**)

In [19]:
x = 1
y = 1
z = x

print(f"primitive x is z = {x is z}")
print(f"primitive x is y = {x is y}")
print(f"primitive x == y = {x == y}")

x = ['a',1]
y = ['a',1]
z = x
print(f"refrential x is z = {x is z}")
print(f"refrential x is y = {x is y}")
print(f"refrential x == y = {x == y}")

primitive x is z = True
primitive x is y = True
primitive x == y = True
refrential x is z = True
refrential x is y = False
refrential x == y = True

<h3>Operator Member</h3>

Operator member digunakan untuk mengetahui apakah suatu nilai **bagian dari sequence data**.
1. in (**x in y**)	
2. not in	(**x not in y**)

In [24]:
x = ["apple", "banana"]
print("banana" in x)

x = "Hello World1!"
print('wo' in x)

True
False